@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>
<table>
    @foreach (var customer in Model.Customers)
    {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
                <td>
                    <a asp-action="Details" asp-route-id=@customer.Id>Details</a>
                    <a asp-action="Edit" asp-route-id=@customer.Id>Edit</a>
                </td>
            </tr>
    }
</table>

<a asp-action="Create">Create</a>

@section footer {
    <h3>
        @Model.CurrentMessage
    </h3>
}