@using SimpleCrm.Web.Models.Home;
@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>
<table>
    @foreach (var customer in Model.Customers)
    {
            <tr>
                <td>
                @Html.ActionLink("Details", 
                nameof(SimpleCrm.Web.Controllers.HomeController.Details),
                new { id = customer.Id })
                </td>
                <td>@customer.Id</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
            </tr>
    }
    <tr>
        <td>@Html.ActionLink("Create", nameof(SimpleCrm.Web.Controllers.HomeController.Create))</td>
    </tr>
</table>

@section footer {
    <h3>
        @Model.CurrentMessage
    </h3>
}